$border_gray: rgb(170, 167, 167);
$background_dark_gray: rgb(221, 235, 235);
$background_light_gray: rgb(245, 251, 253);
$mymessages_gray: rgb(209, 223, 224);
$myfriend_gray: rgb(79, 78, 78);
$font_fam: georgia, 'Times New Roman', Times, serif;

.sidebar {
  width: 30vw;
  height: 100vh;
  border-right: 1px solid $border_gray;
}

.header {
  height: auto;
  border-bottom: 1px solid $border_gray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background-color: $background_dark_gray;
}

.profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.filter {
  width: 80%;
  height: 30px;
  margin: 0 auto;
  margin-top: 10px;

  background-color: $background_light_gray;
  border-radius: 20px;
  border: $border_gray 1px solid;
  background-image: url(../../images/pngwing.com.png);
  background-position: 10px;
  background-size: 20px;
  background-repeat: no-repeat;
  padding: 0 30px;
  font-family: $font_fam;
  position: relative;
}

input::placeholder {
  position: absolute;
  left: 40px;
  top: 3px;
  vertical-align: middle;
  color: gray;
  font-size: 20px;
  font-style: italic;
}

.chats {
  color: darkcyan;
  font-family: $font_fam;
  font-size: 20px;
}
